extends layout

block content
  section(class="edit-form")
    h6
      a(href=plant.url + '/edit') ← #{plant.name} edit form
    h2= title
    p Are you sure you want to delete this plant: #{plant.name} ?
    form(method='POST' action='')
      div.form-group
        input#plantid.form-control(
          type='hidden'
          name='plantid'
          required='true'
          value=plant._id
        )
        
        button.btn-primary(
          type='submit'
        ) Yes, delete this plant